body {       
 text-align:center;
 margin:0;
 padding:0;
 background: #000000;
 font-family: Verdana, Arial, Helvetica, sans-serif 

}
a { color:white; text-decoration:none;}
a:hover {text-decoration:underline;}


#header {
padding:0;
margin:0;
height:110px;
background:#00276a;
}
#header h1,#header h4 {display:none;  }
#header .logo { margin-left: 20px;margin-top:20px;}
#header .badge1 { position: absolute; margin-left: 240px; margin-top: 30px}

h2 a { margin-left:20px; color: white; font-weight: bold; font-size: 14px;}


#toolbar { background:url(images/toolbar-bg.PNG) repeat-x;height:47px;  }
#toolbar ul {margin:0;padding-top:12px;padding-left:10px; font-size:12px; font-weight: bold;}
#toolbar li {display:inline; margin:0; padding-right:10px;}

#wrapper {
width:958px;
text-align:left;
margin-left:auto;
margin-right:auto;
padding:0px;
margin-top: 10px;   
border:5px solid #333333; 
}

#footer {
 clear:both;
 padding-top: 5px;
 padding-bottom:0;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-weight: bold;
 color: white;
 font-size:12px;
 text-align:center;
 height:45px;
 background:url(images/footer-bg2.PNG) repeat-x;
 font-size:10px;
}
#content {
background: #3163ae;
padding-top: 10px;    
padding-bottom: 10px;  
}

#content h2 {
    margin:0;padding:0px 0px 10px 0px; 
}
    
.main-stats {   
  margin-right: 7px; 
  margin-left: 7px;
  border-collapse: collapse;
  border: 1px solid #333;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #000;
}
.floatleft { float:left; margin-right:10px;margin-bottom:10px;width:32.2%;}
.sidetable { margin-bottom:10px; }
table.sortable thead:hover { background:#203052; }

.main-stats .rank,.main-stats .kills{
    text-align:center;
    width:50px;
}

.main-stats .weapon {
    width:100px;
}
.main-stats th, .main-stats td {

padding: 0.5em; 

color:#eeeeee;
}
table .main-stats { width: 100%;}
.main-stats th { text-align : center; }
.main-stats .name th  { text-align : left; background: #333333;border:none;  } 
.main-stats td { text-align : center;}
.main-stats td .id {text-align:left; }
.main-stats th,.main-stats .rank {
    background: #333333;
}
.main-stats .name {
    border-left:5px solid #999999;
    border-top:5px solid #999999;
    background:#666666;
    text-align:left; 
}
.main-stats .kills,.main-stats .deaths,.main-stats .kd {
    border:5px solid #999999;
    background:#999999;
    width:50px;
}
.main-stats .weapon {
    width:250px;
    text-align:left;
    border-top:5px solid #999999;
    background:#666666; 
}
.main-stats .kills {
 font-weight:bold;
}
.nemesis {
color:#FF8080;
font-weight:bold;}

p {
padding: 0; margin:0;
}
h3 { margin-left:20px;}
h1,h2,h3,h4,h5,h6 {
 color:#C0C0FF;
}
.submenu li { display:inline;} 
.submenu { padding-left:20px;padding-top:0px;}
table { width:98%; }
.name a img { border: none; }